<!doctype html>
  <head>
   
    <!-- Bootstrap CSS -->
<link rel="stylesheet" href="/public/main.css">
    <title>Hello, world!</title>
  </head>
  <body>
    <%- include('nav.html') %>


      <h4 class="ml-2 my-3 text-center">서버에서 가져온 할일 리스트</h4>
      <div class="container input-group mb-2">
        <input type="text" class="form-control" id="keyword">
        <button class="input-group-append btn btn-danger" id="search">검색</button>
      </div>
      <div class="container">
        <ul class="list-group">
          <% for(var i=0;i < posts.length;i++){ %>
            <li class="list-group-item">
                <h4><%=posts[i].title %></h4> <!-- 제목 --> 
                <p><%=posts[i].date %> </p><!-- 작성일 -->
                <p>작성자 : <%=posts[i].regUser %></p> <!-- 작성자 -->
                <button class="btn btn-danger delete" data-id="<%=posts[i]._id %>">삭제</button>
                <button class="btn btn-danger edite" data-id="" onclick="editPage('<%=posts[i]._id %>');">수정</button>          
                <!-- <button type="button" class="btn btn-warning"  onclick="chatPage('<%=posts[i]._id %>');">채팅하기</button> -->
                <button type="button" class="btn btn-warning chat"  data-id="<%= posts[i].regUser%>">채팅하기</button>
            </li>
          <%} %>
        </ul>
      </div>
      <form method="post" id="submitForm" name="submitForm">
        <input type="hidden" name="targetId" id="targetId">
      </form>
      <script src="https://code.jquery.com/jquery-3.4.1.min.js" ></script>
      <script>
       $('.delete').click(function(e){
          var num = e.target.dataset.id; // 지금 누른 요소의 data-id 를 가져오기
          var t = $(this);
          $.ajax({
            method : 'DELETE'
            , url : '/delete'
            , data : {_id : num}
          }).done(function(result){
            // 성공
            alert(result.message);
            t.parent('li').fadeOut();
         }).fail(function(xhr, textStatus, errorThrown){
            // 실패
            // xhr
            // textStatus : error code
            // errorThrown : error msg
            console.log(xhr, textStatus, errorThrown);
   
          });
        });
        
       function editPage(id){
          location.href="/editPage/"+id;
       }

       $("#search").on("click",function(){
        window.location.replace('/search?value='+$("#keyword").val());
       });
       
       // 채팅하기
      
        // $('.chat').click(function(e){
        //   var id = e.target..id; // 채팅당한 사람의 id
        //   $.post('/chat/chatroom',{target:id}).then((result)=>{

        //   });
        // });
        $('.chat').click(function(e){
            var id = e.target.dataset.id; // 채팅당한 사람의 id
            var frm = document.createElement('form');
            frm.setAttribute('charset','utf-8');
            frm.setAttribute('method','post');
            frm.setAttribute('action','/chat/chatroom');
            
            var hiddenField = document.createElement('input');
            hiddenField.setAttribute('type','hidden');
            hiddenField.setAttribute('name','target');
            hiddenField.setAttribute('value',id);
            frm.appendChild(hiddenField);
            
            document.body.appendChild(frm);
            frm.submit();

        });


    




      </script>
      


  </body>
</html>