<!doctype html>
  <head>
   <style>
     .heard {
        max-width: 5%;
        height: auto;
     }

     .caption{
      border : 2px solid black;
     }

     .list{
       float: left;
     }
     .rounded-start{
       cursor: pointer;
     }

     .heart{
       cursor: pointer;
     }
   </style>
    <!-- Bootstrap CSS -->
<link rel="stylesheet" href="/public/main.css">
    <title>Hello, world!</title>
  </head>
  <body>
    <%- include('nav.html') %>


      <h4 class="ml-2 my-3 text-center">게시판</h4>
      <div class="container input-group mb-2">
        <input type="text" class="form-control" id="keyword">
        <button class="input-group-append btn btn-danger" id="search">검색</button>
        <button class="input-group-append btn btn-primary" id="write">글쓰기</button>
      </div>
     
      
      <% for(var i=0;i < listResult.length;i++){%>
        <div class="card mb-3" style="max-width: 540px;" >
          <div class="row g-0" >
            <div class="col-md-4">
              <%if(listResult[i].fileName !=null){ %>
                <img src="../public/image/<%= listResult[i].fileName %>" class="img-fluid rounded-start" data-id="<%= listResult[i].boardSeq %>"/>
              <%}else{ %>
                <img src="../public/image/default_img.png" class="img-fluid rounded-start" data-id="<%= listResult[i].boardSeq %>"/>
              <%} %>
            </div>
            <div class="col-md-8">
              <div class="card-body">
                <h3 class="detail"><%=listResult[i].title %></h3><!-- 제목 -->
                <p><%=listResult[i].categoryName %> </p>
                
                    <div class="case">
                    <% var result = false; %>
                    <% for(var j=0;j < favResult.length;j++){ %>
                        <% if(favResult[j].boardSeq==listResult[i].boardSeq && favResult[j].fav=='Y'){ %>
                            <% result = true; %>   
                            <% break; %>                       
                        <% } %>
                    <% } %>
                    <% if(result){ %>
                      <div class="heart red_heart" data-id="<%= listResult[i].boardSeq %>">
                        <img src="../public/image/red_heart.png" class="heard" alt="favY">                   
                      </div>
                    <% }else{ %>
                      <div class="heart empty_heart" data-id="<%= listResult[i].boardSeq %>">
                        <img src="../public/image/empty_heart.png" class="heard" alt="favN">
                      </div>
                  <% } %>
                  </div>
                
                  <div class="favCount" data-id="<%= listResult[i].boardSeq %>">
                    <% if(listResult[i].fav == 0 || listResult[i].fav== null){ %>
                    0
                    <% }else{ %>
                    <%= listResult[i].fav %>
                    <%} %> / <%= listResult[i].regId %> / <%= listResult[i].uptDt %>
                  </div>
              </div>
            </div>
          </div>
        </div>
      <% } %>
      

      <form method="post" id="submitForm" name="submitForm">
        <input type="hidden" name="targetId" id="targetId">
      </form>
      <script src="https://code.jquery.com/jquery-3.4.1.min.js" ></script>
      <script>
       $('.delete').click(function(e){
          var num = e.target.dataset.id; // 지금 누른 요소의 data-id 를 가져오기
          var t = $(this);
          $.ajax({
            method : 'DELETE'
            , url : '/delete'
            , data : {_id : num}
          }).done(function(result){
            // 성공
            alert(result.message);
            t.parent('li').fadeOut();
         }).fail(function(xhr, textStatus, errorThrown){
            // 실패
            // xhr
            // textStatus : error code
            // errorThrown : error msg
            console.log(xhr, textStatus, errorThrown);
   
          });
        });
        
     

       $("#search").on("click",function(){
        window.location.replace('/search?value='+$("#keyword").val());
       });
       
       // 글쓰기
       $('#write').on('click',function(){
        location.href="/board/write";
       });
       // 채팅하기
      
        // $('.chat').click(function(e){
        //   var id = e.target..id; // 채팅당한 사람의 id
        //   $.post('/chat/chatroom',{target:id}).then((result)=>{

        //   });
        // });

        // 게시물 상세보기
        $('.detail').click(function(e){
            var id = e.target.dataset.id; // 채팅당한 사람의 id
            var frm = document.createElement('form');
            frm.setAttribute('charset','utf-8');
            frm.setAttribute('method','post');
            frm.setAttribute('action','/board/detail');
            
            var hiddenField = document.createElement('input');
            hiddenField.setAttribute('type','hidden');
            hiddenField.setAttribute('name','boardSeq');
            hiddenField.setAttribute('value',id);
            frm.appendChild(hiddenField);
            
            document.body.appendChild(frm);
            frm.submit();

        });



        // 좋아요 버튼
        $(document).on("click",".empty_heart",function(){
            // console.log("좋아요 클릭");
            favController($(this).data("id"),"Y");
        });

        // 좋아요 취소 버튼
        $(document).on("click",".red_heart",function(){
            // console.log("좋아요 취소 클릭");
            favController($(this).data("id"),"N");
        });


        // 좋아요 컨트롤러
        function favController(boardSeq,param){
          $.ajax({
              method : 'post'
              , url : '/board/fav'
              , async : false
              , dataType : 'json'
              , data : {boardSeq : boardSeq, param:param}
          }).done(function(result){
            // 성공
            if(result.message=='success'){
              var html ="";
              var point;
              var parent;
              if(param=='Y'){
                  // 좋아요
                  html += '<div class="red_heart" data-id="'+boardSeq+'">';
                  html +=  '<img src="../public/image/red_heart.png" class="heard" alt="favY">';
                  html += '</div>';
                  
                  $(".empty_heart").each(function(){
                    // console.log($(this).data("id"));
                      if($(this).data("id")==boardSeq){
                        parent = $(this).parent().append(html);
                        point = $(this).remove();
                      }
                  });
              }else{
                  // 좋아요 취소
                  html +=  '<div class="empty_heart" data-id="'+boardSeq+'">';
                  html +=  '<img src="../public/image/empty_heart.png" class="heard" alt="favN">';
                  html +=  '</div>';

                  $(".red_heart").each(function(){
                    // console.log($(this).data("id"));
                    if($(this).data("id")==boardSeq){
                      
                      parent = $(this).parent().append(html);
                      point = $(this).remove();
                    }

                  });

              }
              
              // 좋아요 숫자 늘렸다가 줄였다가 (param이 'Y'일 경우는 + , 'N'일 경우는 - )
              var inputHtml ="";
              document.querySelectorAll(".favCount").forEach(function(e){
                  if(e.dataset.id==boardSeq){
                     inputHtml = e.innerText;
                     var inputArr = inputHtml.split("/");
                    // console.log(inputArr[0]); 
                     if(param=='Y'){
                       inputHtml=(parseInt(inputArr[0])+1)+" / "+inputArr[1]+" / "+inputArr[2];
                       e.innerText=inputHtml;
                     }else{
                      inputHtml=(parseInt(inputArr[0])-1)+" / "+inputArr[1]+" / "+inputArr[2];
                       e.innerText=inputHtml;
                     }
                  }
              });
           
            }
            
           

         }).fail(function(xhr, textStatus, errorThrown){
              // 실패
              // xhr
              // textStatus : error code
              // errorThrown : error msg
              console.log(xhr, textStatus, errorThrown);
    
          });
        
        }

        $(document).on("click",".rounded-start",function(){
            var boardSeq = ($(this).data("id"));
            location.href="/board/detail/"+boardSeq;
        });
      </script>

      


  </body>
</html>