<!doctype html>
  <head>
   <style>
     .heard {
        max-width: 5%;
        height: auto;
     }

     .caption{
      border : 2px solid black;
     }

     .list{
       float: left;
     }
     .rounded-start{
       cursor: pointer;
     }

     .heart{
       cursor: pointer;
     }
   </style>
    <!-- Bootstrap CSS -->
<link rel="stylesheet" href="/public/main.css">
    <title></title>
  </head>
  <body>
    <%- include('nav.html')%>
  
    <div class="card mb-3" style="max-width: 540px;">
      <div class="row g-0">
        <div class="col-md-4">
          <!-- 프로필 사진 자리-->
          <img src="..." class="img-fluid rounded-start" alt="프로필 사진">
        </div>
        <div class="col-md-8">
          <div class="card-body">
            <h5 class="card-title"><%= userId %></h5>
            <p class="card-text">개시물 갯수 : <%= myBoardCount %></p>
            <!-- <p class="card-text"><small class="text-muted">Last updated 3 mins ago</small></p> -->
          </div>
        </div>
      </div>
    </div>
    <div>
        나의 게시물 리스트 자리
        <% for(var i=0;i < listResult.length;i++){%>
          <div class="card mb-3" style="max-width: 540px;" >
            <div class="row g-0" >
              <div class="col-md-4">
                <%if(listResult[i].fileName !=null){ %>
                  <img src="../public/image/<%= listResult[i].fileName %>" class="img-fluid rounded-start" data-id="<%= listResult[i].boardSeq %>"/>
                <%}else{ %>
                  <img src="../public/image/default_img.png" class="img-fluid rounded-start" data-id="<%= listResult[i].boardSeq %>"/>
                <%} %>
              </div>
              <div class="col-md-8">
                <div class="card-body">
                  <h3 class="detail"><%=listResult[i].title %></h3><!-- 제목 -->
                  <p><%=listResult[i].categoryName %> </p>
                  
                </div>
              </div>
            </div>
          </div>
        <% } %>
    </div>
    

  </body>
</html>